/* ORIGINAL TASK PUPILS STARTED WITH
Full credit to code.org for task */
  
body {
  background: lightblue;
}
h1 {
  font-family: Comic Sans MS;
  color: green;
}
h3 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: purple;
}
p { font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: yellow ;
}